@charset "ISO-8859-1";

.centerText{
	text-align: center;
	
}

.blue{
	color: #0000ff;
}

a{
	text-decoration: none;
	margin: 10px 10px;
}

table {
	border: 2px solid green;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 70%;
}

th{
	height: 50px;
}

.red{
	color: red;
}

