@charset "ISO-8859-1";

p{
	color:red;
}

#myID{
	display:none;
}

#addservice{
	background-color:#DADADA  ;
}

/* #searchservice{ */
/* 	background-color:#DADADA  ; */
/* } */

#searchtable{
	
	  border-collapse: collapse;
}

#searchtable tr{
	border-color:black;
}